/* #region Navbar&Landing */

.n-logo {
      height: 300px;
      max-width: 300px !important;
      width: 300px;
}

.page-header {
      /* Use of image permitted by CC0 Creative Commons : https://wallpapersfit.com/gym-wallpaper.html/gym-wallpaper-hdq-cover-1wc2003812?lang=nl */
      background-image: linear-gradient(0deg,rgba(232, 231, 235, 0.315),rgba(134, 50, 2, 0.815)), url(img/LandingBackground.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.content-center .h1-seo {
      font-weight: 500;
      text-shadow: 1px 3px 5px rgba(255, 255, 255, 0.77);
}

.content-center h3 {
      text-shadow: 1px 3px 5px rgba(255, 255, 255, 0.77);
}

.sidebar-collapse [class*="navbar-expand-"] .navbar-collapse {
      width: 150px;
      background: rgb(117, 107, 107);
}

.navbar .navbar-nav .nav-link:not(.btn) {
      top: 12px;
}

.bg-primary, .sidebar-collapse .navbar-collapse::before {
      background: #000 !important;
}

.nav-open .sidebar-collapse [class*="navbar-expand-"] .navbar-translate {
      transform: translate3d(-150px,0,0);
}

/* #endregion Navbar&Landing */

/* #region ProductPreview */

#product-preview-section {
      background: radial-gradient(ellipse at top left, #20333A 0%,#356277 57%); 
      color: white;
}

#product-preview-section .card {
      background: none;
      box-shadow: none;
      margin-left: 40px;
}

#product-preview-section .card:hover {
      background: rgba(48, 16, 90, 0.247);
}

#product-preview-section .card-price {
      font-size: 24px;
      font-weight: 600;
}

#product-preview-section p {
      font-size: 16px;
      font-weight: 400;
}


/* #endregion ProductPreview */

/* #region Reviews */

.arrows-1_minimal-left, .arrows-1_minimal-right {
      color: black;
}

.carousel-item {
      min-width: 1140px;
      min-height: 540px;
}

.review-image {
      object-fit: contain;
      width: 200px;
      height: 200px;
}

/* #endregion Reviews */

/* #region PreOrder */

#pre-order-section {
      /* Use of image permitted by CC0 Creative Commons : https://free-images.com/display/training_barbell_muscles_hands.html --> */
      background-image: linear-gradient(0deg,rgba(232, 231, 235, 0.315),rgba(27, 13, 5, 0.815)), url(img/PricingBackground.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#pre-order-section h1 {
      color: rgb(216, 216, 216);
}

.card {
      border-radius: 0.2rem;
      transition: all 0.2s;
      box-shadow: 0 5px 25px 0 rgba(0,0,0,.4)
}

.pricing hr {
      margin: 1.5rem 0;
}

.pricing .card-title {
      margin: 0.5rem 0;
      font-size: 1.2rem;
      letter-spacing: .1rem;
      font-weight: 700;
}

.pricing .card-price {
      font-size: 2.2rem;
      margin: 0;
      font-weight: 600;
}

.pricing ul li {
      margin-bottom: 1rem;
}

.pricing .text-muted {
      opacity: 0.7;
}

.pricing .card-body .btn {
      letter-spacing: .1rem;
      font-weight: bold;
      padding: 1rem;
      color: rgb(247, 241, 241);
      box-shadow: 0 5px 18px 0 rgba(0,0,0,.1)
}

.pricing .card-body .btn:hover {
      color: rgb(255, 255, 255);
}


@media (min-width: 992px) {
      .pricing .card:hover {
            margin-top: -.25rem;
            margin-bottom: .25rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
      }
      .pricing .card:hover .btn {
            opacity: 1;
      }
}

/* #endregion PreOrder */

/* #region MailChimp */

#mailchimp-section {
      background: radial-gradient(ellipse at top left, #20333A 0%,#356277 57%); 
}

#mailchimp-section input {
      font-size: 18px;
      box-shadow: 0 5px 18px 0 rgba(0,0,0,.2)
}

#mailchimp-section h1 {
      color: #E0E1E2;
      text-shadow: 1px 2px 1px rgba(150, 150, 150, 0.64);
}

#mailchimp-section p {
      color: #E0E1E2;
      font-weight: 300;
      text-shadow: 1px 2px 1px rgba(150, 150, 150, 0.64);
}

/* #endregion MailChimp */

/* #region Footer */

.footer {
      background-color: rgb(34, 34, 34);
}

.footer-heading, .footer-list li, .copyright {
      color: #E0E1E2;
}

.footer-subjects {
      position: relative;
      margin: 0 auto;
}

.footer-subjects div {
      position: relative;
      margin: 0 auto;   
}

.footer .footer-list li {
      display: block;
      line-height: 3.2;
}

.footer .footer-list li:hover {
      cursor: pointer;
      text-decoration: underline;
}

.footer-divider {
      border-top: 1px solid #8c8b8b;
      margin-top: 40px;
}

.social-media-bar {
      text-align: left !important;
      padding-left: 0;
      margin-left: 0;
}

.social-media-bar a {   
      margin-left: 15px;
}

.social-media-bar .copyright{
      margin-top: 30px;
}

/* #endregion Footer */

/* #region MediaQueries */

/* xl-breakpoing */
@media screen and (max-width: 1200px){
      footer .footer-list li {
            font-size: 14px;
            font-weight: 300;
      }

      .footer-heading {
            font-size: 18px;
            font-weight: 500;
      }

      .carousel-item {
            min-width: 960px;
            min-height: 540px;
      }
}

/* lg-breakpoint */
@media screen and (max-width: 992px){
      .social-media-bar {
            text-align: center !important;
      }
      .social-media-bar .copyright {
            margin-top: 12px;
            text-align: center;
      }

      footer .footer-list li {
            font-size: 10px;
            text-align: left;
            font-weight: 300;
      }

      .footer-heading {
            font-size: 15px;
      }

      .carousel-item {
            min-width: 720px;
            min-height: 580px;
      }
}

/* md-breakpoint */
@media screen and (max-width: 768px){
      .carousel-item {
            min-width: 540px;
            min-height: 620px;
      }

      .social-media-bar .copyright {
            margin-top: 15px;
            text-align: center;
      }

      footer .footer-list li {
            font-size: 16px;
            text-align: center;
            font-weight: 300;
      }

      .footer-subjects {
            position: relative;
            margin: 0 auto;
      }

      .footer .footer-list, .footer-heading {
            text-align: center;
      }

      .footer-heading {
            font-size: 25px;
            margin-top: 55px;
      }

      #first-footer-heading{
            margin-top: 25px;
      }

      .footer .footer-list li {
            line-height: 2.3;
      }
}

/* sm-breakpoint */
@media screen and (max-width: 576px){
      #mailchimp-section h1 {
            font-size: 24px;
            color: rgb(236, 238, 240);
      }
      #mailchimp-section  p {
            font-size: 14px;
            color: rgb(236, 238, 240);
      }

      .review-container {
            margin: 0 auto;
      }

      .carousel-item {
            max-width: 320px;
            max-height: 540px;
            min-width: 320px;
            min-height: 540px;
      }

      .img-raised {
            margin: 0 auto;
            text-align: center;
      }

      .review-text {
            font-size: 14px;
      }

      .review-name {
            font-size: 18px;
      }

      .review-rating {
            font-size: 14px;
      }
}

/* xs-breakpoint */
@media screen and (max-width: 385px){
      .footer-divider {
            margin-top: 55px;
      }
}

/* #endregion MediaQueries */



